.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;

}
body {
    background-color: coral;
    font-family:monospace;
    margin: 0;
  }
header{ 
    background-color: #05004e;
    padding: 0.8em 0;
    box-shadow: 2px 2px 10px #6aa3c4;
}
nav a {
    font-size: 1.5rem;
    color: rgb(230, 17, 166);
    text-transform: uppercase;
  }

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    }
nav li {
    margin-left: 1em;
    }